/** Expander button visual - expanded */
$tg-expander-char-expanded: '\f0d7' !default;

/** Expander button visual - collapsed */
$tg-expander-char-collapsed: '\f0da' !default;

/** Expander button width */
$tg-expander-width: 10px !default;

/** Expander button right side padding */
$tg-expander-padding: 10px !default;